<div class="userManagement">
  <div class="notLoggedIn" ng-if="!loggedIn[0]">
    <button class="_button" ng-click="login('bob', '123')">Sign In</button>
    <button class="_button" ng-click="login('bob', '123', 'bob@gmail.com')">Sign Up</button>
  </div>
  <div class="loggedIn" ng-if="loggedIn[0]">
    <div>
      Welcome {{ user.username }}!!!
      <button ng-click="logout('bob')">Log Out</button>
    </div>
    <a ng-href="#/create">Create New</a> || 
    <a ui-sref="myCollections">Your Collections</a><br />
  </div>
</div>
