<div>
  <div class="area">
    <img class="double two" src="../../assets/images/add.png" ng-click="addShown = true"/>
    <img class="double one" src="../../assets/images/heart-icon.png" ng-click="addFav(collection)"/>
    <h2 class="collection-title single">{{ collection.title }}</h2>
    <p class="collection-description-text">{{ collection.description }}</p>
    <modal-dialog show="addShown" action="addLink(link)" template-url="directives/addlink.tpl.html"></modal-dialog>
  </div>
  <div class="collection-box" ng-repeat="link in links | orderBy : confidence : reverse">
      <a href="http://{{ link.url }}" target="_blank"><h2 class="collection-title">{{ link.title }}</h2></a>
      <p class="collection-description">{{ link.url }}</p>
      <div ng-click="voteLink(collection, link,  1)" class="arrow-up"></div>
      <div ng-click="voteLink(collection, link, -1)" class="arrow-down"></div>
  </div>
</div>
