<div>
  <div class="select-collection select-collection-1 clearfix">
    <p class="collection-title-text"><span>{{ collection.title }}</span></p>
    <p class="collection-description-text">{{ collection.description }}</p>
    <div class="btn-container clearfix">
      <button class="clone-btn" ng-if="!isUser" ng-click="clone()">Favorite</button>
      <button class="upvote-btn" ng-click="upVote()" ng-if="notYetUpvoted">Upvote</button>
      <span class="link-description-text" style="margin-top: .5rem;" ng-if="!notYetUpvoted">Liked!</span>
    </div>
  </div>
  <div class="single-link" ng-repeat="link in collection.links">
    <div class="link clearfix">
      <div class="scnshot-container clearfix">
        <div class="box"></div> 
      </div>
      <div class="link-text clearfix">
        <p class="link-title-text"><a href="http://{{ link.url }}"><span>{{ link.title }}</span></a></p>
        <p class="link-description-text">{{ link.description }}</p>
      </div>
    </div>
  </div>
</div>
