html {
  font-size: 1rem;
}

.container {
  width: 80%;
}

.arrow-up {
  width: 0; 
  height: 0;
  cursor: pointer; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #F4513E;
  display: inline-block;
}

.arrow-down {
  width: 0; 
  height: 0; 
  cursor: pointer;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #F4513E;
  display: inline-block;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

body {
  color: white;
  padding: 5px;
  text-align: center;
  background-color: #3E80C5;
  font-family: 'Lobster', cursive;
}

@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.9); } 
    100% { -webkit-transform: scale(1); } 
} 

@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.9); } 
    100% { transform: scale(1); } 
} 

.pulse {
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: pulse; 
    animation-name: pulse;
    animation-iteration-count: infinite; 
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
}

.logo {
  font-size: 1.3rem;
  cursor: pointer;
  text-align: left;
  color: #F4513E;
}

.signin {
  top: 0;
  right: 0;
}

.user-button {
  color: white;
  border: 1px solid white;
  display: inline-block;
  font-size: .9rem;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  background-color: #74B454;
}

.user-button:hover {
  background-color: #83C141;
}

.search-box {
  font-size: .9rem;
  width: 60%;
}

.collection-box {
  text-align: left;
  padding: 0px 0px 10px 0px;
}

.collection-box:hover {
  background-color: #338ed4;
}

.collection-title {
  color: #F4513E;
}

.collection-description {
  padding: 5px;
  font-size: 1rem;
  text-align: left;
  color: #D0B639;
}

.logo {
  float: right;
  right: 0;
  width: 40px;
  display: inline;
}

.modal-overlay {
  position: fixed;
  z-index:9999;
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}

.modal-dialog {
  z-index:10000;
  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #DD2C36;
  box-shadow: 4px 4px 80px #000;
}

.modal-dialog-content {
  text-align: center;
  padding:10px;
  color: white;
}

.modal-dialog-content input{
  width: 60%;
}

.modal-close {
  position: fixed;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
}