html {
  font-size: 1rem;
}

.container {
  width: 80%;
}

.arrow-up {
  width: 0; 
  height: 0;
  cursor: pointer; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #C01035;
  display: inline-block;
}

.arrow-down {
  width: 0; 
  height: 0; 
  cursor: pointer;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #C01035;
  display: inline-block;
}

a {
  color: #5091CD;
  text-decoration: none;
}

a:visited {
  color: #5091CD;
  text-decoration: none;
}

body {
  color: #7A9563;
  padding: 5px;
  text-align: center;
  background-color: #0D1B27;
  font-family: 'Philosopher', sans-serif;
}

.logo {
  font-size: 1.4rem;
  font-family: 'Black Ops One', cursive;
  color: #C01035;
  cursor: pointer;
}

.signin {
  top: 0;
  right: 0;
}

.user-button {
  cursor: pointer;
  color: white;
  border: 1px solid white;
  display: inline-block;
  font-size: .9rem;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  background-color: #770D17;
}

.user-button:hover {
  background-color: #651328;
}

.search-box {
  font-size: .9rem;
  width: 60%;
}

.description-box {
  width: 60%;
  color: black;
  font-size: .9rem;
}

.collection-box {
  text-align: center;
  padding: 0px 0px 10px 0px;
}

.collection-box:hover {
  background-color: #56606B;
}

.collection-title {
  width: auto;
  color: #CEC690;
}

.collection-description {
  padding: 5px;
  font-size: 1.2rem;
  text-align: left;
  color: #5091CD;
}

.logo {
  text-align: left;
  right: 0;
  display: block;
}

.modal-overlay {
  position: fixed;
  z-index:9999;
  top: 0px;
  left: 0px;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}

.modal-dialog {
  z-index:10000;
  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #3F364C;
  box-shadow: 4px 4px 80px #000;
}

.modal-dialog-content {
  text-align: center;
  padding:10px;
  color: #5091CD;
}

.modal-dialog-content input{
  width: 60%;
}

.modal-close {
  position: fixed;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
}

.modal-iframe {
  width: 90%;
  height: 300px;
}

.double {
  position: absolute;
  right: 0;
  width: 40px;
  display: block;
}

.one {
  top: 0px;
}

.two {
  top: 40px;
}

.area {
  text-align: center;
  position: relative;
}